<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
	  <add name="AssociateConn" connectionString="data source=ctsingtpsspd\sspd;Initial Catalog=AssociateConn; User ID=mliuser; password=secureuser; Application Name=AssociateConnection;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SMSUserName" value="guhabiswasargha@yahoo.in"/>
    <add key="SMSPassword" value="mvaayoo.com"/>
    <add key="SMSSenderNumber" value="+919477359961"/>
    <add key="SMSProvider" value="ubaid.tk"/>
    <add key="default" value="~/Mobile/Script/js/Plugin/jquery-ui-1.8.12.custom/js/jquery-1.5.1.min.js,      ~/Mobile/Script/js/Plugin/jquery-ui-1.8.12.custom/js/jquery-ui-1.8.12.custom.min.js,     ~/Mobile/Script/js/Plugin/json2-min.js,     ~/Mobile/Script/js/Plugin/jquery.validate.js,      ~/Mobile/Script/StartUp.js,      ~/Mobile/Script/Util.js" />
    <add key="AssociateDetail" value="~/Mobile/Script/js/Plugin/jquery-ui-1.8.12.custom/js/jquery-1.5.1.min.js,      ~/Mobile/Script/js/Plugin/jquery-ui-1.8.12.custom/js/jquery-ui-1.8.12.custom.min.js,     ~/Mobile/Script/js/Plugin/json2-min.js,     ~/Mobile/Script/js/Plugin/jquery.validate.js,      ~/Mobile/Script/js/Plugin/jquery-jtemplates.js,    ~/Mobile/Script/js/Plugin/jquery.autocomplete.min.js" />
    <add key="util" value="~/Mobile/Script/js/jquery-2.0.3.min.js,     ~/Mobile/Script/js/jquery.mobile-1.3.0.min.js,      ~/Mobile/Script/Util.js" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>

    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
		<endpointBehaviors>
			<behavior name="Cog.MLIAD.Mobile.Services.AssociateMobile.AssociateMobileBehavior">
				<webHttp/>
			</behavior>
			<behavior name="Cog.MLIAD.Services.Associate.AssociateBehavior">
				<webHttp/>
			</behavior>
		</endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Cog.MLIAD.Mobile.Services.AssociateMobile.AssociateMobileBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
		  <behavior name="Cog.MLIAD.Services.Associate.AssociateBehavior">
			  <serviceMetadata httpGetEnabled="true"/>
			  <serviceDebug includeExceptionDetailInFaults="false"/>
		  </behavior>
	  </serviceBehaviors>
    </behaviors>
	  <services>
		  <service behaviorConfiguration="Cog.MLIAD.Mobile.Services.AssociateMobile.AssociateMobileBehavior" name="Cog.MLIAD.Mobile.Services.AssociateMobile.AssociateMobile">
			  <endpoint address="" behaviorConfiguration="Cog.MLIAD.Mobile.Services.AssociateMobile.AssociateMobileBehavior" binding="webHttpBinding" contract="Cog.MLIAD.Mobile.Services.AssociateMobile.IAssociateMobile">
				  <identity>
					  <dns value="localhost"/>
				  </identity>
			  </endpoint>
		  </service>
		  <service behaviorConfiguration="Cog.MLIAD.Services.Associate.AssociateBehavior" name="Cog.MLIAD.Services.Associate.Associate">
			  <endpoint address="" behaviorConfiguration="Cog.MLIAD.Services.Associate.AssociateBehavior" binding="webHttpBinding" contract="Cog.MLIAD.Services.Associate.IAssociate">
				  <identity>
					  <dns value="localhost"/>
				  </identity>
			  </endpoint>
		  </service>
	  </services>
     <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="True"/>
  </system.serviceModel>
</configuration>
