<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cog.MLIAD.Data.Properties.Settings.AssociateConnConnectionString"
            connectionString="Data Source=10.227.11.49;Initial Catalog=AssociateConn;User ID=mliuser"
            providerName="System.Data.SqlClient" />
        <add name="Cog.MLIAD.Data.Properties.Settings.AssociateConnConnectionString1"
            connectionString="Data Source=ctsingtpsspd\sspd;Initial Catalog=AssociateConn;User ID=mliuser"
            providerName="System.Data.SqlClient" />
        <add name="Cog.MLIAD.Data.Properties.Settings.AssociateConnConnectionString2"
            connectionString="Data Source=ctsingtpsspd\sspd;Initial Catalog=AssociateConn;Persist Security Info=True;User ID=mliuser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>